/* my lyout */



:root {
    --sidebar-width:150px;
}

#app,
.app__content{
    overflow: hidden;
}

.app__main-content {
    overflow: auto;
}

#app {
    height: 100vh;
    color: white;
}

.app__sidebar {
    background-color: #051E34 ;
}

.app__toolbar {
    background-color:#F8F9FA;
    padding: 10px 0;
    height: 60px;
    flex-shrink: 0;
}

.app__sidebar {
    width:67px;
    overflow: hidden;
}



/* Aside app toolbar */

.ms__container-toolbar {
    background-color: white;
    padding: 0 10px;
}

.app__logo {
    padding-right: 20px;
}

.logo-small {
    width: 50px;
}

.logo {
   width: 136px;
}

.app__search {
    flex-grow: 2;
}



.list__items-link > li a {
    text-decoration: none;
    color: grey;
}

.bell-link {
    color: orange;
}

/* Header  */

.item-icon {
    line-height: 35px;
    width: 30px;
    font-size: 25px;

}

.user__settings {
    margin-top: auto;
}

.item-icon, .item-text {
    color: white;
}

.item__header {
    width: 102px;
    height: 30px;
    transition: background-color 500ms ease ;
}

.item__header:hover {
  background-color:rgba(255, 255, 255, 0.50);
  
}

/* Main header */

.main__content-header {
    background-color: #1B72E8;
    width: 100%;

}

.ms__button {
    background-color: transparent;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    aspect-ratio: 1;
}

.icon-plus {
    color: white;
    font-size: 20px;
}

.ms_badge {
    background-color:#165BBA;
}

/* Main content */

.image-table {
    width: 30px;
    height: 30px;
}

.ms_main__content {
    background-color: white;
    width: 100%;
    

}



