/* my lyout */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --sidebar-width:150px; 
}

#app, 
.app__content, 
.app__toolbar, 
.app__main-content {
    overflow: hidden;
}

#app {
    height: 100vh;
    color: white;
}

.app__sidebar {
    background-color: #051E34 ;
}

.app__toolbar {
    background-color:#F8F9FA;
    padding: 10px 0; 
}

.app__sidebar {
    width:67px;
}

/* Aside app toolbar */

.ms__container-toolbar {
    background-color: white;
    padding: 0 10px;
}

.app__logo {
    width: 15%;
}

.logo-small {
    width: 50px;
}

.logo {
   width: 136px;
}

.app__search {
    width: 70%;
}

.app__items-link {
    width: 15%;
}

.list__items-link > li a {
    text-decoration: none;
    color: grey;
}

.bell-link {
    color: orange;
}

/* header  */
 
.item-icon {
    line-height: 35px;
    width: 30px;
    font-size: 25px;
    
}

.user__settings {
    margin-top: auto;
}

.item-icon, .item-text {
    color: white;
}

/* debug */


/* .debug .app__toolbar {
	border: 2px solid yellow;
	/* padding: 10px 20px; */
}

.debug .app__content, .app__sidebar  {
	border: 2px solid black;
	/* padding: 20px; */
}  */



